<div class="container">
  <div class="input-icon">
    <input
      #input
      type="text"
      role="combobox"
      aria-controls="select"
      aria-haspopup="listbox"
      [attr.aria-expanded]="open"
      [value]="value.label"
      readonly
      (focus)="toggleSelect($event)"
      (input)="filterOptions($event)">
    <fa-icon [icon]="angleDownIcon" class="icon" [ngClass]="{'icon-up': open}"></fa-icon>
  </div>

  <ul
    role="listbox"
    id="select"
    class="shadow-sm"
    [ngClass]="{'open-select': open}">
    <li
      *ngFor="let option of optionsObs$ | async"
      role="option"
      [id]="option"
      (focus)="setValue($event, option)"
      (click)="setValue($event, option)"
      [attr.tabIndex]="open ? 0 : -1">
      {{option.label}}
    </li>
  </ul>
</div>
