<h1 class="text-center">Register</h1>

<form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
  <app-input-text [control]="$any(form.get('username'))" [label]="'Username*'"
    [id]="'username'"></app-input-text>

  <app-input-email [control]="$any(form.get('email'))" [label]="'Email*'"
    [id]="'email'"></app-input-email>

  <app-input-password [control]="passwordControl" [label]="'Password*'" [id]="'psw'"
    errorMessage="At least 8 characters, one uppercase, one lowercase, and one number."></app-input-password>

  <app-input-password [control]="confirmPasswordControl" [label]="'Confirm password*'" [id]="'confPsw'"
    errorMessage="The given passwords are not equal."></app-input-password>

  <app-input-checkbox *ngFor="let cb of checkboxes" [id]="cb.id" [label]="cb.label"
    [control]="cb.control!"></app-input-checkbox>

  <div class="text-center">
    <button class="submit-button">Submit</button>
  </div>
</form>
