@import "../../../../styles/abstracts/mixins";

:host {
  @include box-shadow(0.4);
  cursor: pointer;
  display: block;
  border-radius: 1em;
  overflow: hidden;
}

h3 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

img {
  width: 100%;
}

.body {
  background-color: white;
  padding: 1em;
}
