h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.ingredients {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  gap: 2rem;
}

.ingredients-label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  background-color: transparent;
}

.formArray {
  max-height: 250px;
  overflow-y: auto;
}

fa-icon {
  font-size: 1.8rem;
}
