@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/abstracts/variables";

:host {
  display: block;
}

input {
  width: 3.5em;
  border-color: $orange-400;
  text-align: center;
}

.input-container {
  @include base-input;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  div {
    text-align: center;
  }
}

.semi-column {
  font-size: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
