nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5em;
  border-radius: 1em;
  position: sticky;
  top: 80px;

  img {
    height: 6rem;
    border-radius: 50%;
  }

  ul {
    place-items: center;
  }
}

a {
  font-size: 2rem;
}
