:host {
  display: block;
}

nav {
  background-color: white;
  padding: 1.5em;
  border-radius: 1em;
  position: sticky;
  top: 80px;

  img {
    height: 6rem;
    border-radius: 50%;
  }

  ul {
    place-items: center;
  }
}

a {
  font-size: 2rem;
}
