@import 'variables';

:host {
  display: block;
  align-self: flex-start;
  position: sticky;
  top: 2em;
  z-index: 1;
}

nav {
  background-color: white;
  padding: 1.5em;
  border-radius: 1em;

  img {
    height: 6rem;
    border-radius: 50%;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    gap: 2rem;
  }
}

a {
  display: flex;
  min-width: 2.5em;
  min-height: 2.5em;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  transform: rotate(180deg);
}

.active-link {
  border: 2px solid $orange-400;
  border-radius: 50%;
}
