@import '../abstracts/variables';

* {
  font-family: "Jost", sans-serif;
  color: $purple-900;
}

body {
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

.error {
  color: rgb(255,66,0);
  font-weight: bold;
}

.text-center {
  text-align: center;
}
