dialog {
  background-color: white;
  border-radius: 2em;
  width: Min(360px, 100%);
  border: 0;
  position: relative;
  padding: 1.5em;
  outline: 0;

  .close-icon{
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 2rem;
    background-color: transparent;
  }

  &::backdrop {
    background-color: rgba(82, 59, 104, 0.7);
  }
}
