nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1em;

  input[type="text"] {
    border-radius: 3em;
  }
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 5rem;
  border-radius: 50%;
}
