<form [formGroup]="form">
  <app-input-text id="name" label="Name" [control]="nameControl"></app-input-text>

  <app-input-select id="course" [formControl]="courseControl" [options]="['Si', 'No', 'Forse', 'Non lo so']"></app-input-select>

  <app-input-file [control]="thumbnailImageControl" id="thumbnailImage" label="Choose the thumbnail image for your recipe" accept="image/*"></app-input-file>

  <app-input-number [control]="servingsControl" id="servings" label="Servings"></app-input-number>
</form>
