<form [formGroup]="form">
  <app-input-file [control]="thumbnailImageControl" id="thumbnailImage" label="Choose the thumbnail image for your recipe" accept="image/*"></app-input-file>

  <app-input-text id="name" label="Name" [control]="nameControl"></app-input-text>

  <app-input-select id="course" [formControl]="courseControl" [options]="['Si', 'No', 'Forse', 'Non lo so']"></app-input-select>


  <app-input-select id="difficulty" [formControl]="difficultyControl" [options]="['Si', 'No', 'Forse', 'Non lo so']"></app-input-select>

  <app-input-number [control]="servingsControl" id="servings" label="Servings"></app-input-number>

  <app-input-number [control]="caloriesPerServingControl" id="caloriesPerServing" label="Calories per serving"></app-input-number>

  <app-input-select id="country" [formControl]="countryControl" [options]="['Si', 'No', 'Forse', 'Non lo so']"></app-input-select>
</form>
