<button
  type="button"
  (click)="goToPrevious()"
  class="edge"
  *ngIf="pageNumber > 0">
  <fa-icon [icon]="leftArrow"></fa-icon>
</button>

<span *ngIf="pageNumber >= 10 && pageNumber <= totalPages - 11">...</span>
<button
  (click)="goTo(page)"
  type="button"
  [ngClass]="{'selected-page': page == pageNumber}"
  *ngFor="let page of pages">
  {{page + 1}}
</button>
<span *ngIf="pageNumber >= 10 && pageNumber <= totalPages - 11">...</span>

<button
  (click)="goToNext()"
  type="button"
  class="edge"
  *ngIf="pageNumber < totalPages - 1">
  <fa-icon [icon]="rightArrow"></fa-icon>
</button>
