@import '../abstracts/variables';

@each $key, $value in $sizes {
  .grid-row-flow-#{$key} {
    display: grid;
    grid-auto-flow: row;
    row-gap: $value;
  }
}

@each $key, $value in $breakpoints {
  .fluid-grid-#{$key} {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(Min($value, 100%), 1fr));
    gap: 2rem;
  }
}
