.fluid-container{
    margin-inline: auto;
    width: Min(500px, 100%);
}

.fluid-container-700{
    margin-inline: auto;
    width: Min(700px, 100%);
}

.fluid-container-900{
    margin-inline: auto;
    width: Min(900px, 100%);
}