@import "variables";

dt {
  font-weight: bold;
  text-decoration: underline;
}

fa-icon {
  color: $orange-400;
}

.heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.general-info {
  display: flex;
  flex-wrap: wrap;

  img {
    flex: 2 0 400px;
  }

  .info {
    flex: 1 0 200px;
  }
}

.info {
  padding: 1em;
}

.ingrdients {
  background-color: #e4daee;
  padding: 1em;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: "";
    height: .5em;
    width: .5em;
    border: 2px solid $orange-400;
    border-radius: 50%;
  }
}
