<div class="fluid-container-xl">
  <div class="fluid-grid-xxs info">
    <div>
      <h4>Follow us</h4>
      <ul>
        <li>
          <fa-icon [icon]="fbIcon"></fa-icon>
          <a> Facebook</a>
        </li>
        <li>
          <fa-icon [icon]="instaIcon"></fa-icon>
          <a> Instagram</a>
        </li>
        <li>
          <fa-icon [icon]="tikTokIcon"></fa-icon>
          <a> TikTok</a>
        </li>
        <li>
          <fa-icon [icon]="ytIcon"></fa-icon>
          <a> Youtube</a>
        </li>
      </ul>
    </div>

    <div>
      <h4>Info</h4>

      <ul>
        <li><a>About us</a></li>
        <li><a>Log in</a></li>
        <li><a>Register</a></li>
      </ul>
    </div>

    <div>
      <h4>Discover</h4>

      <ul>
        <li><a>Create a blog</a></li>
        <li><a>Shopping</a></li>
        <li><a>Last recipes</a></li>
      </ul>
    </div>
  </div>

  <div class="terms">
    <strong>© {{today | date: "YYYY"}} Company & Co.</strong>

    <ul class="policies">
      <li><a>Terms of use</a></li>
      <li><a>Privacy</a></li>
      <li><a>Privacy policy</a></li>
      <li><a>Cookie policy</a></li>
      <li><a>Cookies operations</a></li>
      <li><a>Disclaimer</a></li>
      <li><a>Governance</a></li>
      <li><a>Our company</a></li>
    </ul>
  </div>
</div>
